<!-- <h1 style="margin-top:100px; ">home</h1> -->
<md-content>
<div layout="row" style="height:700px;">
  <div flex-xs flex-gt-xs="45" layout="column">
    <div ng-repeat="p in data1">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{p.name}}</span>
              <span class="md-subhead">{{p.avg}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Like</md-button>
            <md-button>Dislike</md-button>
          </md-card-actions>
        </md-card>
    </div>
  </div>

  <div flex-xs flex-gt-xs="45" layout="column">
    <div ng-repeat="p in data2">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{p.name}}</span>
            <span class="md-subhead">{{p.avg}}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>

  </div>

</div>
</md-content>
