<!-- <h1 style="margin-top:100px; ">home</h1> -->
<md-content>
<div layout="row" style="height:700px;">
  <div flex-xs flex-gt-xs="45" layout="column">
    <div ng-repeat="p in data1">
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/64/05/42/6405428777b883637038aa607d65281a.gif"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{p.name}}</span>
            <span class="md-subhead">Rating: {{p.avg}}/5</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="http://media.gettyimages.com/photos/cameron-crazies-support-the-duke-university-blue-devils-during-the-picture-id57564780" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{p.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>

          </p>
        </md-card-content>
        </md-card>
    </div>
  </div>



  <div flex-xs flex-gt-xs="45" layout="column">
    <div ng-repeat="p in data2">
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/64/05/42/6405428777b883637038aa607d65281a.gif"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{p.name}}</span>
            <span class="md-subhead">Rating: {{p.avg}}/5</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="http://media.gettyimages.com/photos/cameron-crazies-support-the-duke-university-blue-devils-during-the-picture-id57564780" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{p.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>

          </p>
        </md-card-content>
        </md-card>
    </div>

  </div>

</div>
</md-content>
